/*
 * CSS which is site-specific, little chance of being used elsewhere.
 */

/* Site background */
#nasa__subsite-section:after { background-image: url("../../img/division/background_galaxy_red.jpg"); }

/* Site Navigation */
#nasa__sub-navigation .nasa__sub-navigation-section__600:hover, .nasa__sub-navigation-section__600 { background-color: #1b6d85; }
#nasa__sub-navigation .nasa__sub-navigation-section__610:hover, .nasa__sub-navigation-section__610 { background-color: #316855; }
#nasa__sub-navigation .nasa__sub-navigation-section__660:hover, .nasa__sub-navigation-section__660 { background-color: #4a385f; }
#nasa__sub-navigation .nasa__sub-navigation-section__670:hover, .nasa__sub-navigation-section__670 { background-color: #a07326; }
#nasa__sub-navigation .nasa__sub-navigation-section__690:hover, .nasa__sub-navigation-section__690 { background-color: #7f3c18; }

/* Content Section Theme */
.content-section .content-section__title {
    /*border-color: #828ab2;*/
    border-color: #b28282;
}