/*
 * CSS which is site-specific, little chance of being used elsewhere.
 */

/* Site background */
#nasa__subsite-section:after {
    background-image: url("../../img/emac/background_galaxy_blue.jpg");
}
#nasa__subsite-section.nasa__subsite-section-mini:after {
    background-image: linear-gradient(rgba(60, 60, 60, 0.4),rgba(60, 60, 60, 0.4)), url("../../img/emac/background_galaxy_blue.jpg");
}

/* Content Section Theme */
.content-section .content-section__title { border-color: #2d5ca9; }
.label-accent { background-color: #2d5ca9 !important; }

/* Site Navigation */
#nasa__sub-navigation .nasa__sub-navigation-section__600:hover, .nasa__sub-navigation-section__600 { background-color: #1b6d85; }
#nasa__sub-navigation .nasa__sub-navigation-section__610:hover, .nasa__sub-navigation-section__610 { background-color: #316855; }
#nasa__sub-navigation .nasa__sub-navigation-section__660:hover, .nasa__sub-navigation-section__660 { background-color: #4a385f; }
#nasa__sub-navigation .nasa__sub-navigation-section__670:hover, .nasa__sub-navigation-section__670 { background-color: #a07326; }
#nasa__sub-navigation .nasa__sub-navigation-section__690:hover, .nasa__sub-navigation-section__690 { background-color: #7f3c18; }

/* Tool Legend */
.tool-legend div { padding: 5px 0; }
.tool-legend span:not(.label) { padding-left: 5px; }

/* Tool List */
#tool-list .btn { float: right; }