/*
 * CSS for additional components that might be useful for other sites.
 */

/* Content Section */
.content-section {
    font-family: Lato, sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
}
.content-section .content-section__title {
    border-bottom: 2px solid;
    border-color: #ccc;
    padding-bottom: 6px;
    padding-left: 4px;
    font-size: 19px;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 15px;
}
.content-section .content-section__subtitle {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.4px;
}
.content-section .content-section__date {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: -12px;
}
.content-section p {
    font-size: 13px;
    letter-spacing: 0.2px;
}
.content-section .content-section__link:after {
    content: ' »';
}

/* Image Caption */
.img-caption {
    position: relative;
}
.img-caption img {
    width: 100%;
}
.img-caption span {
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    color: white;
    padding: 40px 20px 20px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    font-size: 16px;
    font-weight: 100;
    text-shadow: 0 0 3px #000000;
}

/* Story with image caption */
.story-section {
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 4px;
    border: none;
}
@media (min-width: 600px) {
    .story-section-split {
        width: 50%;
        display: inline-block;
        margin: 0 -1px;
    }
}
.story-section .img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.story-section:hover .img-background,
.story-section:active .img-background {
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.35);
}

/* 3D Button */
.btn-3d {
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}
.btn-3d:focus,
.btn-3d:active:focus,
.btn-3d.active:focus {
    outline: none;
    outline-offset: 0;
}
.btn-3d a {
    color: #fff;
}
.btn-3d a:hover {
    text-decoration: none;
    color: #fff;
}
.btn-3d.btn-light {
    background: transparent;
    font-weight: 500;
    box-shadow: none;
}

/* Button colors: sky */
.btn-sky {
    color: #fff;
    background-color: #0bacd3;
    border:1px solid #0bacd3;
    border-bottom:2px solid #098aa9;
}
.btn-sky.btn-light {
    color: #098aa9;
}
.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
    color: #fff;
    background-color: #29b6d8;
    border-bottom:2px solid #2192ad;
    outline: none;
}
.btn-sky:active, .btn-sky.active {
    color: #fff;
    background-color: #0a97b9;
    border-top:2px solid #087994;
    margin-top: 2px;
}

/* Button colors: fresh */
.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border: 1px solid #51bf87;
    border-bottom:2px solid #41996c;
}
.btn-fresh.btn-light {
    color: #41996c;
}
.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
    color: #fff;
    background-color: #66c796;
    border-bottom:2px solid #529f78;
    outline: none;
}
.btn-fresh:active, .btn-fresh.active {
    color: #fff;
    background-color: #47a877;
    border-top:2px solid #39865f;
    outline: none;
    margin-top: 2px;
}

/* Button colors: sunny */
.btn-sunny {
    color: #fff;
    background-color: #f4ad49;
    border: 1px solid #f4ad49;
    border-bottom:2px solid #c38a3a;
}
.btn-sunny.btn-light {
    color: #c38a3a;
}
.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
    color: #fff;
    background-color: #f5b75f;
    border-bottom:2px solid #c4924c;
    outline: none;
}
.btn-sunny:active, .btn-sunny.active {
    color: #fff;
    background-color: #d69840;
    border-top:2px solid #ab7a33;
    margin-top: 2px;
}

/* Labels with arrows */
.label { border-radius: 0; text-shadow: none; font-size: 11px; font-weight: normal; padding: 3px 5px 3px; background-color: #abbac3!important }
.label[class*="span"][class*="arrow"] { min-height: 0 }
.badge { text-shadow: none;
    font-size: 12px;
    padding: 1px 15px;
    font-weight: normal;
    line-height: 15px;
    background-color: #ABBAC3!important; }
.label-transparent,
.badge-transparent { background-color: transparent!important }
.label-grey,
.badge-grey { background-color: #a0a0a0!important }
.label-info,
.badge-info { background-color: #3a87ad!important }
.label-primary,
.badge-primary { background-color: #2283c5!important }
.label-success,
.badge-success { background-color: #82af6f!important }
.label-important,
.badge-important { background-color: #d15b47!important }
.label-inverse,
.badge-inverse { background-color: #333!important }
.label-warning,
.badge-warning { background-color: #f89406!important }
.label-pink,
.badge-pink { background-color: #d6487e!important }
.label-purple,
.badge-purple { background-color: #9585bf!important }
.label-olive,
.badge-olive { background-color: olive!important }
.label-yellow,
.badge-yellow { background-color: #e7f62b!important }
.label-light,
.badge-light { background-color: #e7e7e7!important }
.badge-yellow,
.label-yellow { color: #963!important; border-color: #e7f62b }
.badge-light,
.label-light { color: #888!important }
.label.arrowed,
.label.arrowed-in { position: relative; margin-left: -4px }
.label.arrowed:before,
.label.arrowed-in:before { display: inline-block; content: ""; position: absolute; left: -14px; top: 0; border: solid transparent; border-width: 9px 7px; border-right-color: #abbac3 }
.label.arrowed-in:before { border-color: #abbac3; border-left-color: transparent!important; left: -9px }
.label.arrowed-right,
.label.arrowed-in-right { position: relative; margin-right: 9px }
.label.arrowed-right:after,
.label.arrowed-in-right:after { display: inline-block; content: ""; position: absolute; right: -14px; top: 0; border: solid transparent; border-width: 9px 7px; border-left-color: #abbac3 }
.label.arrowed-in-right:after { border-color: #abbac3; border-right-color: transparent!important; right: -9px }
.label-info.arrowed:before { border-right-color: #3a87ad }
.label-info.arrowed-in:before { border-color: #3a87ad }
.label-info.arrowed-right:after { border-left-color: #3a87ad }
.label-info.arrowed-in-right:after { border-color: #3a87ad }
.label-primary.arrowed:before { border-right-color: #2283c5 }
.label-primary.arrowed-in:before { border-color: #2283c5 }
.label-primary.arrowed-right:after { border-left-color: #2283c5 }
.label-primary.arrowed-in-right:after { border-color: #2283c5 }
.label-success.arrowed:before { border-right-color: #82af6f }
.label-success.arrowed-in:before { border-color: #82af6f }
.label-success.arrowed-right:after { border-left-color: #82af6f }
.label-success.arrowed-in-right:after { border-color: #82af6f }
.label-warning.arrowed:before { border-right-color: #f89406 }
.label-warning.arrowed-in:before { border-color: #f89406 }
.label-warning.arrowed-right:after { border-left-color: #f89406 }
.label-warning.arrowed-in-right:after { border-color: #f89406 }
.label-important.arrowed:before { border-right-color: #d15b47 }
.label-important.arrowed-in:before { border-color: #d15b47 }
.label-important.arrowed-right:after { border-left-color: #d15b47 }
.label-important.arrowed-in-right:after { border-color: #d15b47 }
.label-inverse.arrowed:before { border-right-color: #333 }
.label-inverse.arrowed-in:before { border-color: #333 }
.label-inverse.arrowed-right:after { border-left-color: #333 }
.label-inverse.arrowed-in-right:after { border-color: #333 }
.label-pink.arrowed:before { border-right-color: #d6487e }
.label-pink.arrowed-in:before { border-color: #d6487e }
.label-pink.arrowed-right:after { border-left-color: #d6487e }
.label-pink.arrowed-in-right:after { border-color: #d6487e }
.label-purple.arrowed:before { border-right-color: #9585bf }
.label-purple.arrowed-in:before { border-color: #9585bf }
.label-purple.arrowed-right:after { border-left-color: #9585bf }
.label-purple.arrowed-in-right:after { border-color: #9585bf }
.label-olive.arrowed:before { border-right-color: olive; }
.label-olive.arrowed-in:before { border-color: olive; }
.label-olive.arrowed-right:after { border-left-color: olive; }
.label-olive.arrowed-in-right:after { border-color: olive; }
.label-yellow.arrowed:before { border-right-color: #e7f62b }
.label-yellow.arrowed-in:before { border-color: #e7f62b }
.label-yellow.arrowed-right:after { border-left-color: #e7f62b }
.label-yellow.arrowed-in-right:after { border-color: #e7f62b }
.label-light.arrowed:before { border-right-color: #e7e7e7 }
.label-light.arrowed-in:before { border-color: #e7e7e7 }
.label-light.arrowed-right:after { border-left-color: #e7e7e7 }
.label-light.arrowed-in-right:after { border-color: #e7e7e7 }
.label-grey.arrowed:before { border-right-color: #a0a0a0 }
.label-grey.arrowed-in:before { border-color: #a0a0a0 }
.label-grey.arrowed-right:after { border-left-color: #a0a0a0 }
.label-grey.arrowed-in-right:after { border-color: #a0a0a0 }
.label-large { font-size: 12px; padding: 5px 8px 5px; height: 22px; display: inline-block; }
.label-large.arrowed,
.label-large.arrowed-in { margin-left: -3px }
.label-large.arrowed:before,
.label-large.arrowed-in:before { left: -16px; border-width: 11px 8px }
.label-large.arrowed-in:before { left: -12px }
.label-large.arrowed-right,
.label-large.arrowed-in-right { margin-right: 11px }
.label-large.arrowed-right:after,
.label-large.arrowed-in-right:after { right: -16px; border-width: 11px 8px }
.label-large.arrowed-in-right:after { right: -12px }
.label-fieldset { padding: 6px 9px 6px; height: 28px; width: auto; margin-bottom: 0; text-align: left; }
.label-dim { opacity: 0.5; }