@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Radio Chooser */
.radio-chooser {
    border: 1px solid #cce6fa;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
}
.radio-chooser + small.help-block {
    display: none !important;
}
.radio-chooser-item {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
    background: white;
}
.radio-chooser-item.radio-chooser-selected {
    background: #f4faff;
}
.radio-chooser-item:not(:last-child) {
    border-right: 1px solid #cce6fa;
    box-sizing: border-box;
}
.radio-chooser-item:hover {
    background: #f4faff;
}
.radio-chooser-content {
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
}
.radio-chooser-content input {
    margin: 0 15px 0 0 !important;
    line-height: 20px;
    vertical-align: middle;
}
.radio-chooser-content input:active, .radio-chooser-content input:focus {
    outline: 0;
}
.radio-chooser-content .form-control-feedback {
    margin-top: 35px;
    margin-right: 15px;
}
.radio-chooser-content .form-control-feedback.glyphicon {
    display: none !important;
}
.radio-chooser-title {
    max-width: 270px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 100;
    font-size: 18px;
}

/* Form Validation */
.form-group.has-feedback.has-error p.help-block {
    display: none;
}
.form-group.has-feedback.has-error small.help-block {
    font-size: 14px;
}
/* Special rules: Select2, input-addon, radio-chooser */
.form-group.has-feedback.has-success .select2 .select2-selection__arrow b {
    border-top-color: #3c763d;
}
.form-group.has-feedback.has-error .select2 .select2-selection__arrow b {
    border-top-color: #a94442;
}
.form-group.has-feedback.has-error .select2 .select2-selection__placeholder {
    color: #b05a5a;
}
/*.form-group.has-feedback select ~ .help-block,*/
.form-group.has-feedback select ~ .form-control-feedback,
.form-group.has-feedback .input-group ~ .form-control-feedback,
.form-group.has-feedback.has-error .input-group ~ .form-control-feedback,
.form-group.has-feedback.has-success .input-group ~ .form-control-feedback {
    display: none !important;
}
.form-group.has-feedback.has-error .radio-chooser, .form-group.has-feedback.has-error .radio-chooser-item {
    border-color: #bd8484;
}

/* Select2 */
.select2-container .select2-search__field {
    width: 100% !important;
}

/* Range Slider */
.range {
    width: 100%;
    display: table;
    position: relative;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.range input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
    outline: none;
}
.range input::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    background-color: rgb(153, 153, 153);
}
.range input::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    background-color: rgb(153, 153, 153);
}
.form-group.has-success .range input {
    outline-color: rgb(92, 184, 92);
}
.form-group.has-success .range input::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.form-group.has-success .range input::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}

/* New Calculation Form */
#calculation-table .status-running-text,
#calculation-table .status-cancelled-text,
#calculation-table .status-finished-text,
#calculation-table .status-error-text,
#calculation-table .status-pending-text { display: none; }
#calculation-table tr.calculation-running .status-running-text,
#calculation-table tr.calculation-cancelled .status-cancelled-text,
#calculation-table tr.calculation-finished .status-finished-text,
#calculation-table tr.calculation-error .status-error-text,
#calculation-table tr.calculation-pending .status-pending-text { display: block; }
#calculation-table tr:not(:first-child) .calculation-delete { display: none; }
#calculation-table tbody > tr > td { vertical-align: middle; }
#calculation-clear-all {
    float: right;
    padding-top: 15px;
    font-size: 14px;
}

/* Animated loading icon */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}